body{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(13, 38, 0);
    display: flex;
    align-items: center;
}

.HomeNav{
    display: flex;
    margin-left: auto;
}

/* Style the links inside the navigation bar */
.HomeNav a{
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 28px 16px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold;

}

/* Change the color of links on hover */
.HomeNav a:hover{
    background-color: #ddd;
    color: black;
}

/*Add active class to highlight the current page */
.HomeNav a:active{
    background-color: #04AA6D;
    color: white;
}

* {box-sizing:border-box;}
/* Carousel Container */
.Carousel-Container{
  box-sizing: border-box;
  max-width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
  margin: auto;
}

/*  images */
.Carousel-slides{
    
    width: 100%;
    height: 100%;
    position: relative;
}


/* Next & Prev Buttons */
.prev, .next{
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    background-color: #000000;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.prev{
    left: 10px;
   
}
.next{
    right: 10px;
}

/* On hover, add a black background color with see-through */
.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}

/* Caption Text */
.Carousel-text{
    color: #f2f2f2;
    font-size: 18px;
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    z-index: 10;
}

/* Dots/Circles*/
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
}

.dot.active{
    background-color: #04AA6D;
}

/* Product Card */

.featured{
     display: flex;
    flex-direction: row;
    align-items: stretch;
}
.product-card{
    box-shadow: 0 4px  8px 0 rgba(0,0,0,0.2);
    max-width: 300px;
    width: 100%;
    height: 500px;
    flex: 1 1 0;
    margin: auto;
    padding: 16px 0;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.product-card h1{
    min-height: 56px;
    margin: 12px 0 8px;
}

.product-card img{
    width: 80%;
    height: 170px;
    object-fit: contain;
    margin: 0 auto;
}

.price{
    color: rgb(72, 72, 72);
    font-size: 20px;
}

.items-left{
    color: rgb(144, 144, 144);
    font-weight: 100;
    font-size: 15px;
}

.only-left-caution{
    color: white;
    background-color: rgb(169, 0, 0);
}

.product-card button{
    border: none;
    padding: 12px;
    color: white;
    background-color: #000000;
    text-align: center;
    cursor: pointer;
    width: 80%;
    border-radius: 15px;
    font-size: 18px;
}

.product-card hover{
    opacity: 0.7;
}



.logo-img{
    width: 150px;
    height: auto;
    padding: 1rem;
}